@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--modern-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Modern look */
  --modern-bg: #202124;
  --modern-primary: #eeeeee;
  --modern-secondary: #ffcc00;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 5em;
  margin: 0 auto 0 auto;
  padding-top: 2em;
}

h2 {
  font-size: 3em;
  color: var(--modern-secondary);
}

h3 {
  font-size: 2em;
  color: var(--modern-secondary);
}

.main {
  width: 60%;
  margin: auto;
}

/*--------- SCROLLBAR --------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--modern-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--modern-primary);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }

  .main {
    width: 90%;
  }
}
